<h2 mat-dialog-title>
    {{data.title ? 'Edit'+data.title : 'New List'}}
</h2>
<mat-dialog-content>
    <div>
        <mat-form-field class="w-full">
            <mat-label>List title</mat-label>
            <input
                matInput
				required
                [(ngModel)]="title"
            >
        </mat-form-field>
    </div>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="date"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        (click)="onNoClick()"
    >
        No Thanks
    </button>
    <button
        mat-button
        [mat-dialog-close]="{title:title(),date:date()}"
        cdkFocusInitial
		[disabled]="!title()"
    >
        Ok
    </button>
</mat-dialog-actions>
