@if (mobileQuery.matches) {
	<mat-toolbar class="fixed inset-0 top-0 z-10">
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span class="ml-2">Todo List</span>
		<span class="flex-1 basis-auto"></span>
		<a mat-stroked-button href="https://github.com/1mohammad/angular-todo-list" target="_blank">
			Github
		</a>
	</mat-toolbar>
}

<mat-sidenav-container 
	class="h-full"
	[style.paddingTop.px]="mobileQuery.matches ? 56 : 0"
>
	<mat-sidenav 
		#sidenav
		[mode]="mobileQuery.matches ? 'over' : 'side'"
		[fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
		[opened]="mobileQuery.matches ? false : true"
	>
		<app-side-nav (closeSidenav)="mobileQuery.matches && sidenav.close()"/>
	</mat-sidenav>
	<mat-sidenav-content class="bg-white">
		@if (!mobileQuery.matches) {
			@defer (when !mobileQuery.matches) {
				<app-header (toggleSidenav)="sidenav.toggle()" />
			}
		}
		<div class="sm:h-[calc(100vh_-_81px)] sm:overflow-y-auto">
			<main class="pt-10 pb-3 container">
				<ng-content></ng-content>
			</main>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>