<div class="py-5">
	<mat-divider></mat-divider>
	<div class="pb-2"></div>
	<div mat-subheader>
		My lists
	</div>
	<mat-list-item (click)="openDialog()" class="add-new-list border border-dashed border-rose mb-2">
		<mat-icon
			matListItemIcon
		>
			add
		</mat-icon>
		<div matListItemTitle>
			Add new list
		</div>
	</mat-list-item>
	@for (item of myLists(); track item._id) {
		<mat-list-item 
			disableRipple
			class="mb-2 last:mb-0 group">
			<div matListItemTitle>
				{{ item.title }}
			</div>
			<button 
				mat-icon-button 
				matListItemMeta 
				[matMenuTriggerFor]="menu"
				class="transition-all opacity-0 group-hover:opacity-100">
				<mat-icon>more_vert</mat-icon>
			</button>
		</mat-list-item>
	}
</div>

<mat-menu #menu="matMenu">
	<button mat-menu-item>
		<mat-icon>
			edit
		</mat-icon>
		Edit
	</button>
	<button mat-menu-item class="delete-button">
		<mat-icon>
			delete_outline
		</mat-icon>
		<span>
			Delete
		</span>
	</button>
</mat-menu>